---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/landing/Header.tsx";
import Hero from "@/components/landing/Hero.tsx";
import Socials from "@/components/Socials.tsx";
import { ModeToggle } from "@/components/ModeToggle";
import "@/styles/globals.css";
---

<Layout title="aten2005.dev">
  <main class="w-full flex flex-col items-center h-max">
    <Header />
    <div class="h-[calc(100dvh-5rem)] flex flex-col justify-center">
      <Hero client:load className="my-auto" />
      <Socials orientation="horizontal" className="mt-auto mb-10" />
    </div>
  </main>
</Layout>
